<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="customers: ${getById($[id])}}">
    <p th:text="${customers.getId()}"></p>
    <p th:text="${customers.getUsername()}"></p>
    <p th:text="${customers.getFirst_Name()}"></p>
    <p th:text="${customers.getLast_Name()}"></p>
    <p th:text="${customers.getPhone()}"></p>
    <p th:text="${customers.getCity()}"></p>
    <p th:text="${customers.getPostalCode()}"></p>
    <p th:text="${customers.getCountry()}"></p>
</div>
</body>
</html>